//重置按钮内部内容水平对齐
.el-button span {
  display: inline-flex;
  align-items: center;
}

//重置表格颜色
.el-table thead {
  color: $h1c !important;
}

//重置select 样式
.el-select {
  width: 100%;
}
//重置tree 样式 这里是自定义节点移入移出所需要的的
.el-tree-node__content {
  position: relative;
}
//重置tree 图标样式 展开缩放被自定义移入移出的div挡住了 设个层级
.el-tree-node__expand-icon {
  z-index: 1;
}
